/* Styles for PC: */


/* Header: */
body {
    /* background-color: #eeeeee; */
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.nameContainer {
    display: flex;
    align-items: center;
}

.icon_button {
    max-width: 270px;
    border: 0;
    background-color: #FFFFFF00;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.icon_box {
    width: 80px;
}

.icon {
    height: 60px;
    width: 60px;
}

.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
    margin: 5px 0px;
}

.icon_button * {
    color: #333333;
    transition: transform 0.5s ease;
}

.icon_button:hover * {
    transform: scale(1.05);
}

.profession {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: medium;
    margin: 5px 0px;
}

.menuContainer {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.menuContainer>div {
    display: flex;
}

.menuContainer a {
    text-decoration: none;
    margin-left: 10px;
    padding: 0 10px;
    align-items: center;
}

.menu {
    height: 30px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: medium;
    line-height: 30px;
    transition: transform 0.5s ease, color 0.5s ease;
}

.menu:hover {
    transform: scale(1.18);
    color: #0b608e;
}

.projects.menu {
    transform: scale(1.18);
    color: #0b608e;
    font-weight: 600;
}

.projects.menu:hover {
    filter: opacity(70%);
    transition: transform 0.5s ease, color 0.5s ease;
}


.burger-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.burger-icon {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    position: relative;
}

.burger-icon::before,
.burger-icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: transform 0.3s ease;
}

.burger-icon::before {
    top: -8px;
}

.burger-icon::after {
    top: 8px;
}

.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-list a {
    text-decoration: none;
    padding: 0 10px;
    align-items: center;
    height: 30px;
    line-height: 30px;
    color: black;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: medium;
}

/* Contant: */

.content_name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px 0;
    margin-bottom: 30px;
}

.container {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 100px 300px 2px 100px 300px 2px 100px 300px;
    justify-content: center;
    gap: 20px;
}

.container>* {
    background-color: #2f2f2f;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFD700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name_1,
.name_2,
.name_3 {
    font-size: x-large;
    font-weight: 600;
    color: #00FFFF;
}

.video {
    width: 380px;
    height: 340px;
    background-color: #0f0f0f;
    border: #fbbf24 solid 2px;
    border-radius: 8px;
    filter: opacity(50%);
    transition: transform 0.7s ease, color 0.7s ease;
}

.video:hover {
    filter: none;
    transform: scale(1.32);
}

.name_1 {
    grid-area: 1/1/2/2;
}

.picture_1 {
    grid-area: 1/2/3/3;
}

.description_1 {
    grid-area: 2/1/3/2;
    position: relative;
    padding-top: 20px;
}

.description-title {
    position: absolute;
    top: 0;
    padding: 10px 0;
    font-size: x-large;
    text-transform: capitalize;
}

.separating_line_1 {
    grid-area: 3/1/4/3;
    border: solid 5px #2f2f2f;
}

.name_2 {
    grid-area: 4/1/5/2;
}

.picture_2 {
    grid-area: 4/2/6/3;
}

.description_2 {
    grid-area: 5/1/6/2;
}

.separating_line_2 {
    grid-area: 6/1/7/3;
    border: solid 5px #2f2f2f;
}

.name_3 {
    grid-area: 7/1/8/2;
}

.picture_3 {
    grid-area: 7/2/9/3;
}

.description_3 {
    grid-area: 8/1/9/2;
}

/* Footer: */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}

.footer-title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    transition: transform 0.6s ease;
}

.footer-text:hover {
    transform: scale(1.16);
}

.linkedin-icon {
    height: 35px;
    width: 35px;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
    margin-right: 8px;
    margin-bottom: 8px;
    transition: transform 0.5s ease;
}

.linkedin-icon:hover {
    filter: none;
    transform: scale(1.25);
}

.address-title {
    margin-bottom: 0;
}

.address {
    margin: 0;
}

.gitHub-icon {
    height: 35px;
    width: 35px;
    filter: opacity(60%);
    transition: filter 0.5s ease;
    margin-right: 8px;
    margin-bottom: 8px;
    transition: transform 0.5s ease;
}

.gitHub-icon:hover {
    filter: none;
    transform: scale(1.25);
}

.location-icon {
    height: 30px;
    width: 30px;
    filter: grayscale(90%);
    transition: transform 0.5s ease;
}

.location-icon:hover {
    filter: none;
    transform: scale(1.3);
}

hr {
    width: 98vw;
}

/* Styles for the tablets: */




/* Styles for the mobile devices: */

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .menuContainer {
        justify-content: center;
        margin-top: 10px;
    }

    .menuContainer .menu {
        display: none;
    }

    .burger-btn {
        display: block;
    }

    .contant {
        flex-direction: column;
    }

    .image-container,
    .info-container {
        max-width: 100%;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .menu-list.show {
        display: block;
    }

    .burger-icon.open::before {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .burger-icon.open::after {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .burger-icon.open {
        background-color: transparent;
    }
}